{% extends 'main.html' %}
{% load static %}

{% block content %}

<style>
  input[type='password'] {
    min-width: 24rem;
    width: 100%;
    padding: 1.2rem 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-light);
    transition: all 0.3s ease-in-out;
    background-color: var(--color-bg);
  }

  input[type='password']:focus,
  input[type='password']:active {
    outline: none;
    border: 2px solid var(--color-main);
  }
</style>

<div class="auth">
      <div class="card">
        <div class="auth__header text-center">
          <a href="/">
            <img src="{% static 'images/icon.svg' %}" alt="icon" />
          </a>
          <h3>Enter new password</h3>
          <p>Please enter your new password twice. So we can verify you typed it in correctly.</p>
        </div>

        <form method="post" class="form auth__form">
          {% csrf_token %}
            <div class="form__field">
                {{form.as_p}}
            </div>
          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Change my Password" />
          </div>
        </form>
      </div>
    </div>

{% endblock content %}
